.navbar{
    background-color:purple;
}
#cabeçalho .nav .nav-link{
    color: rgb(250, 247, 247);
}
#cabeçalho .nav .nav-link.active{
    background-color:rgb(255, 0, 179);
    color: rgb(255, 255, 255);
}
.carousel img{
    width: 1350px;
    
}

.foto-principal{
    background-color:black; 
}

.text-titulo{
    color:yellow;
    text-transform: uppercase;
}

.text-desc{
   color:yellow; 
   text-transform: uppercase;
}
.paragrafo, li{
   color: rgb(255, 255, 255); 
}
.nav-catalago.nav-catalago .nav-link.active{
    background-color:rgb(255, 0, 179); 
    color: black;
}
.nav-catalago .nav-link{
    color:black;
}
.bg{
    background-color: aqua;
}

body{
    margin-bottom: 300px;
}
