.navbar{
    background-color:purple;
}
.navbar-toggler{
    background-color: white;
    
    
}
#cabeçalho .nav .nav-link{
    color: rgb(250, 247, 247);
}
#cabeçalho .nav .nav-link.active{
    background-color:rgb(255, 0, 179);
    color: rgb(255, 255, 255);
}
header img{
    width: 150px;
}
.carousel img{
    width: 1350px;    
}

.foto-principal{
    background-color:black; 
}

.text-titulo{
    color:yellow;
    text-transform: uppercase;
}

.text-desc{
   color:yellow; 
   text-transform: uppercase;
}
.paragrafo, li{
   color: rgb(255, 255, 255); 
}
.nav-catalago.nav-catalago .nav-link.active{
    background-color:rgb(255, 0, 179); 
    color: black;
}
.nav-catalago .nav-link{
    color:black;
}
html{
    font-family: 'Roboto', sans-serif;
}


#fale-conosco{
    background-color: rgba(127, 255, 249, 0.185);
}
.text-color{
    color: purple;
}
.btn{
    background-color: purple;
    color: white;
    margin-top: 5px;
}
.btn:hover{
    background-color: purple;
    color: white;
}
.social-link li{
    list-style: none;
}
footer{
    background-color: black;
    color: wheat;
    text-align: center;
}


